

*{
 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-heading__panel {
  filter: drop-shadow(0 1px 4px rgba(51, 51, 51, .3));
  position: relative;
  z-index: 3;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}

.page-heading__panel__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}


